{% extends 'cmsapp/base.html' %}
{% block title %}[adding new pages] {% endblock %}
{% block body %}
    <form method="post" action="{% url 'cmsapp:add' %}">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Save</button>
    </form>
{% endblock %}