<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} No title {% endblock %}
    </title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>