{% extends 'cmsapp/base.html' %}
{% block title %} {{ page.title }} [delete] {% endblock %}

{% block body %}
    <form method="post" action="{% url 'cmsapp:delete' page.slug %}">
        {% csrf_token %}
        <p>Are you sure you want to delete this page?</p>
        <button type="submit">Delete</button>
    </form>
{% endblock %}