{% extends 'cmsapp/base.html' %}
{% block title %} Page: {{page.title}} {% endblock %}

{% block body %}
{% include "cmsapp/includes/tags.html" %}

<h1>{{page.title}} <a href="{% url 'cmsapp:change' page.slug %}">edit</a></h1>
{{ page.content }}

{% endblock %}
