<!DOCTYPE html><body>
{% include "cmsapp/includes/tags.html" %}
<h1>Pages</h1>
<ul>
    {% for page in pages %}
    <li><a href="{% url 'cmsapp:page' page.slug %}">{{ page.title }}</a> </li>
    {% empty %}
    No pages yet!
    {% endfor %}
    <a href="{% url 'cmsapp:change' %}">Add another</a>
</ul></body></html>